<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <!-- Properties defined here are shared between test and production -->
        <!--<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>-->
        <mapping resource="cn/elegs/infrastructure/persistence/hibernate/User.hbm.xml"/>

    </session-factory>

</hibernate-configuration>